@import url("./reset.css");

:root {
  --image-background: url("/images/background-desktop.svg");
  --color-dark-navy: 38, 22, 118;
  --color-blue: 36, 99, 255;
  --color-blue-hover: 90, 138, 255;
  --color-blue-gradient: 113, 153, 255;
  --color-blue-gradient-hover: 145, 175, 250;
  --color-pink: 254, 113, 254;
  --color-pink-hover: 231, 144, 231;
  --color-white: 255, 255, 255;
  --heading-xl: 8.5rem;
  --heading-l: 5.5rem;
  --heading-m: 3rem;
  --heading-s: 2rem;
  --body: 1.6rem;

  font-size: 16px;
}

body {
  background-image: var(--image-background);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 1rem;
}

.playable-letter {
  border: none;
  border-radius: 6.5px;
  text-transform: uppercase;
  background-color: rgba(var(--color-dark-navy), 1);
  color: rgba(var(--color-white), 1);
}
.playable-letter__container1 {
  border-radius: 6.5px;
  padding: 0.04rem 0.14rem 0rem 0rem;
  margin: 0.5px 1px 1px 0.6px;
  background-color: rgba(var(--color-blue-hover), 1);
}
.playable-letter__container2 {
  border-radius: 6.5px;
  width: 100%;
  padding: 0px 5px;
  margin: 0.5px 1px 0px 1px;
  background-color: rgba(var(--color-blue), 0.6);
}

.playable-letter__container1.disabled {
  background-color: rgba(var(--color-dark-navy), 0.6);
  height: 1.5rem;
  width: 1.2rem;
}

.playable-letter__container2.disabled {
  background-color: rgba(var(--color-dark-navy), 0.6);
}

.btn {
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn__container1 {
  border-radius: 50px;
  padding: 0.12rem 0.2rem 0rem 0.1rem;
  margin: 0.5px 1px 2.8px 0.6px;
}
.btn__container2 {
  border-radius: 50px;
  width: 100%;
  padding: 0.2rem 1.7rem;
  margin: 1px 1px 0px 1px;
}

.btn-blue {
  background-color: rgba(var(--color-dark-navy), 1);
  color: rgba(var(--color-white), 1);
}

.btn-blue__container__1 {
  background-color: rgba(var(--color-blue-hover), 1);
}

.btn-blue__container__2 {
  background-color: rgba(var(--color-blue), 0.6);
}

.btn-blue__container__1:hover {
  background-color: rgba(var(--color-blue-hover), 0.8);
}
.btn-blue__container__2:hover {
  background-color: rgba(var(--color-blue-hover), 0.8);
}

.btn-pink {
  background-color: rgba(var(--color-dark-navy), 1);
  color: rgba(var(--color-white), 1);
}

.btn-pink__container__1 {
  background-color: rgba(var(--color-pink), 0.7);
}

.btn-pink__container__2 {
  background: linear-gradient(
    180deg,
    rgba(var(--color-pink), 1) 50%,
    rgba(var(--color-blue-gradient), 1) 100%
  );
}

.btn-pink__container__2:hover {
  background: linear-gradient(
    180deg,
    rgba(var(--color-pink-hover), 1) 50%,
    rgba(var(--color-blue-gradient-hover), 1) 100%
  );
}

@media (width <= 769px) {
  :root {
    --image-background: url("/images/background-tablet.svg");
  }
}

@media (width <= 640px) {
  :root {
    --image-background: url("/images/background-mobile.svg");
  }
}
