@import url("./reset.css");

:root {
  --image-background: url("/images/background-desktop.svg");
  --color-dark-navy: 38, 22, 118;
  --color-blue: 36, 99, 255;
  --color-blue-hover: 90, 138, 255;
  --color-blue-gradient: 113, 153, 255;
  --color-blue-gradient-hover: 145, 175, 250;
  --color-pink: 254, 113, 254;
  --color-pink-hover: 231, 144, 231;
  --color-white: 255, 255, 255;
  --color-purple: 136, 125, 192;
  --heading-xl: 8.5rem;
  --heading-l: 5.5rem;
  --heading-m: 3rem;
  --heading-s: 2rem;
  --body: 1.6rem;

  font-size: 16px;
}

body {
  background-image: var(--image-background);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100vh; */
  margin: 1rem;
}
.game header {
  display: flex;
  justify-content: space-between;
}
.game header article {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.game header article h1 {
  color: rgba(var(--color-white), 1);
  font-size: xx-large;
}

/* IE and EDGE */
progress {
  /* RESETS */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;

  /* width: 300px; */
  height: 15px;
  border-radius: 20px;
  background-color: #fff;
  padding: 2px;
  color: rgba(var(--color-dark-navy), 1);
}

/* WEBKIT BROWSERS - CHROME, OPERA AND SAFARI */
progress::-webkit-progress-bar {
  background-color: #fff;
  padding: 2px;
  border-radius: 20px;
}

progress::-webkit-progress-value {
  background-color: rgba(var(--color-dark-navy), 1);
  border-radius: 20px;
}

/* MOZILLA FIREFOX */
progress::-moz-progress-bar {
  background-color: rgba(var(--color-dark-navy), 1);
  border-radius: 20px;
}

.how-to-play {
  height: 100vh;
  margin: 0 2rem;
}
.how-to-play header {
  display: flex;
  height: 20%;
  justify-content: space-between;
  align-items: center;
}
.how-to-play header button {
  width: auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}
.grid-category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.card {
  background-color: rgba(var(--color-dark-navy), 0.8);
  border-radius: 35px;
  height: 70vh;
  padding: 0.2rem 0.2rem 0.8rem 0.2rem;
  position: sticky;
  width: 45vh;
}
.card-2 {
  background-color: rgba(var(--color-blue), 0.8);
  border-radius: 35px;
  height: 100%;
  padding: 0.8rem 0.2rem 0rem 0.2rem;
}
.card-3 {
  background-color: rgba(var(--color-dark-navy), 0.3);
  border-radius: 35px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card-image {
  width: 80%;
  position: absolute;
  top: -75px;
  left: 10%;
}

.btn-play {
  border: none;
  border-radius: 59px;
  padding: 1.5rem 1.4rem;
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(var(--color-pink), 1) 50%,
    rgba(var(--color-blue-gradient-hover), 1) 100%
  );
}
.btn-play:hover {
  background: linear-gradient(
    180deg,
    rgba(var(--color-pink-hover), 1) 50%,
    rgba(var(--color-blue-gradient-hover), 1) 100%
  );
}
.btn-play-blue {
  background-color: rgba(var(--color-dark-navy), 1);
  padding-bottom: 0.2rem;
  border: none;
  display: block;
  border-radius: 59px;
}
.btn-play-purple {
  background-color: rgba(var(--color-purple), 1);
  border-radius: 59px;
  padding-bottom: 0.1rem;
}

.btn-play:hover {
  background-color: rgba(var(--color-blue-hover), 1);
}

.tutorial-card {
  background-color: rgba(var(--color-white), 1);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tutorial-card h2 {
  color: rgba(var(--color-blue), 1);
  font-size: 2rem;
}

.tutorial-card h3 {
  color: rgba(var(--color-dark-navy), 1);
  text-transform: uppercase;
  margin-bottom: 0.7rem;
  margin-top: 0.6rem;
}

.tutorial-card p {
  color: rgba(var(--color-purple), 1);
  font-size: small;
  padding: 0 0.4rem;
}

.selectable-category {
  text-transform: uppercase;
  text-align: center;
  border-radius: 7px;
  cursor: pointer;
  padding: 0.5rem 0rem;
  color: rgba(var(--color-white), 1);
  background-color: rgba(var(--color-blue, 1));
}
.selectable-category:hover {
  background-color: rgba(var(--color-blue-hover), 1);
}

.keyboard-letter {
  border: none;
  border-radius: 6.5px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgba(var(--color-white), 1);
  color: rgba(var(--color-dark-navy), 1);
  padding: 0.1rem 0.5rem;
}
.keyboard-letter.disabled {
  opacity: 0.3;
  pointer-events: none;
  filter: grayscale(100%);
}
.keyboard-letter:hover {
  background-color: rgba(var(--color-blue), 1);
  color: rgba(var(--color-white), 1);
}

.playable-letter {
  border: none;
  border-radius: 6.5px;
  text-transform: uppercase;
  background-color: rgba(var(--color-dark-navy), 1);
  color: rgba(var(--color-white), 1);
}
.playable-letter__container1 {
  border-radius: 6.5px;
  padding: 0.04rem 0.14rem 0rem 0rem;
  margin: 0.5px 1px 1px 0.6px;
  background-color: rgba(var(--color-blue-hover), 1);
}
.playable-letter__container2 {
  border-radius: 6.5px;
  width: 100%;
  padding: 0px 5px;
  margin: 0.5px 1px 0px 1px;
  background-color: rgba(var(--color-blue), 0.6);
}

.playable-letter__container1.disabled {
  background-color: rgba(var(--color-dark-navy), 0.6);
  height: 1.5rem;
  width: 1.2rem;
}

.playable-letter__container2.disabled {
  background-color: rgba(var(--color-dark-navy), 0.6);
}

.btn {
  border: none;
  width: 80%;
  font-size: xx-large;
  border-radius: 50px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn__container1 {
  border-radius: 50px;
  padding: 0.12rem 0.2rem 0rem 0.1rem;
  margin: 0.5px 1px 2.8px 0.6px;
}
.btn__container2 {
  border-radius: 50px;
  width: 100%;
  padding: 0.2rem 1.7rem;
  margin: 1px 1px 0px 1px;
}

.btn-blue {
  background-color: rgba(var(--color-dark-navy), 1);
  color: rgba(var(--color-white), 1);
}

.btn-blue__container__1 {
  background-color: rgba(var(--color-blue-hover), 1);
}

.btn-blue__container__2 {
  background-color: rgba(var(--color-blue), 0.6);
}

.btn-blue__container__1:hover {
  background-color: rgba(var(--color-blue-hover), 0.8);
}
.btn-blue__container__2:hover {
  background-color: rgba(var(--color-blue-hover), 0.8);
}

.btn-pink {
  background-color: rgba(var(--color-dark-navy), 1);
  color: rgba(var(--color-white), 1);
}

.btn-pink__container__1 {
  background-color: rgba(var(--color-pink), 0.7);
}

.btn-pink__container__2 {
  background: linear-gradient(
    180deg,
    rgba(var(--color-pink), 1) 50%,
    rgba(var(--color-blue-gradient), 1) 100%
  );
}

.btn-pink__container__2:hover {
  background: linear-gradient(
    180deg,
    rgba(var(--color-pink-hover), 1) 50%,
    rgba(var(--color-blue-gradient-hover), 1) 100%
  );
}

@media (width <= 769px) {
  :root {
    --image-background: url("/images/background-tablet.svg");
  }
  .grid-category {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .tutorial-card div {
    display: flex;
    gap: 0.5rem;
  }
  .tutorial-card p {
    text-align: start;
    padding: 0;
  }
}

@media (width <= 640px) {
  :root {
    --image-background: url("/images/background-mobile.svg");
  }
  .grid-category {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .tutorial-card div {
    display: flex;
    gap: 0.5rem;
  }
  .tutorial-card p {
    text-align: start;
    padding: 0;
  }
  .tutorial-card {
    padding: 1rem 1.8rem;
  }
  .how-to-play {
    margin: 0;
  }
}
